<p style="color: green"><%= notice %></p>

<% content_for :title, "Photos" %>
<div class="d-flex justify-content-between align-items-center mb-5">
  <h1>Photos</h1>
  <%= link_to "New photo", new_photo_path, class: 'btn btn-primary' %>
</div>


<div id="photos">
  <div class="row">
    <% @photos.each do |photo| %>
      <div class="col-md-4">
        <%= render photo %>
        <p>
          <%= link_to "Show this photo", photo, class: 'btn btn-primary mt-2' %>
        </p>
      </div>
    <% end %>
  </div>
</div>
